<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>
<body>
    <div class="container">
        <h1>About Me</h1>
        <nav></nav>
            <a href="/">Home</a> | <a href="/about">About</a> | <a href="/contact">Contact</a> | <a href="/hobbies">Hobbies</a> | <a href="/projects">Projects</a>
        </nav> 
        
        <p>Ella, a BSIT student with a passion for learning and building web applications.</p>

        <h1>Personal Information</h1>
        <p>Name: Ella V. Empenio</p>
        <p>Age: 20</p>
        <p>Birthday: October 11, 2003</p>
        <p>Address: Tabontabon Baco, Oriental Mindoro</p>
        <p>Nationality: Filipino</p>
        <p>Religion: Born Again</p>
        <p>Status: Single</p>

    </div>
</body>
</html>
